<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/s/css/main.css"/>
    <title><%= title %></title>
    <script>
        window.__REDUX_STATE__ = '<%- JSON.stringify(redux) %>'
    </script>
</head>

<body>        
    <div class="app"><%= "react" %></div>
    <script type="text/javascript" src="/s/js/bundle.js"></script>
</body>

</html>